<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

   <!-- Import RRBot macro -->
  <xacro:include filename="rrbot_description.urdf.xacro"/>
  <!-- Import Rviz colors -->
  <xacro:include filename="rrbot.materials.xacro"/> 
  <xacro:include filename="rrbot.ros2_control.xacro"/> 

</robot>